/* Product */
.product {
    margin-bottom: 10px;
}
    .product__image {
        max-width: 23.75rem;
    }
    .product__details {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 8px;
    }
    .product__button {
        border-radius: 1.75rem !important;
        font-size: 14px;
        height: 36px !important;
    }
    .product__price {
        font-size: 20px;
    }
        .product__price--color {
            color: #f06292;
        }
/* Product */