.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Base styles */
.body {
  overflow-y: auto;
}
img {
  width: 100%;
}
/* Base styles */

/* Main */
.main {
  padding: 48px 0 56px;
}
/* Main */

/* Toolbar */
.toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
  .toolbar__element {
    display: flex;
  }
  .toolbar__title {
    font-size: 20px;
  }
    .toolbar__icon {
      cursor: pointer;
      margin: 0 12px;
    }
.toolbar-checkout {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
  .toolbar-checkout .toolbar__title {
    margin-bottom: 1px;
    margin-left: 20px;
  }
.close-checkout {
  cursor: pointer;
}
/* Toolbar */

/* Bottom navigation */
.bottom-nav {
  width: 100%;
  box-shadow: 0 3px 14px 2px rgba(0,0,0,.12);
  z-index: 1;
}
  .bottom-nav--fixed {
    position: fixed;
    bottom: 0;
  }
  .MuiSvgIcon-root {
    height: 36px !important;
  }
/* Bottom navigation */

/* Buttons */
.button--styling__1 {
  background-color: #f06292 !important;
  color: white !important;
  cursor: pointer;
}
  .button--styling__1:hover {
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12) !important;
    filter: brightness(1.2);
    background-color: rgba(240, 98, 146, 0.9);
    transition: .3s cubic-bezier(.25,.8,.5,1);
  }
.button--styling__2 {
  border-color: #f06292 !important;
  color: #f06292 !important;
}
  .button--styling__2:hover {
    background-color: rgba(240, 98, 146, 0.09) !important;
  }
/* Buttons */

/* Layout */
.layout {
  display: flex;
  justify-content: center;
}
.content {
  max-width: 380px;
  width: 100%;
}
/* Body dimensions */